<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title> Login prayAround</title>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form th:action="@{/prayaroundmap}" th:object="${user}" method="post">
    <h1>Login PrayAround</h1>
    <div class="content">
      <div class="input-field">
        <input type="String" placeholder="Email" name="email">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password" name="password">
      </div>
    </div>
    <div class="action">
      <button><a th:href="@{/register}">Register</a></button>
      <button type="submit" value="submit">submit</button>

    </div>
  </form>
</div>
<!-- partial -->
<center><img src="/css/photo/nathan-dumlao-z_hy8TDLrvM-unsplash_4.jpg"  width ="500" height="300"></center>
  <script  src="/css/script.js"></script>

</body>
</html>


